.submit-btn {
  border: 2px solid #339482;
  background-color: white;
  padding: 10px 30px;
  color: $green;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}